<!DOCTYPE html>
<html lang="es-PE" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Editar Clientes</title>
</head>
<body>
    <h1>Cliente - Editar</h1>
    <a href="ClienteAgregar">Nuevo</a>
    <hr>
    <form method="post" action="editarCliente">
	<table>
        <tr>
          <td><label>ID_Cliente</label></td>
          <td><input type="text" name="txtID_Cliente" size="5" th:value="${Cliente.ID_Cliente}" readonly></td>
        </tr>
        <tr>
          <td><label>Nombre</label></td>
          <td><input type="text" name="txtNombre" size="50" th:value="${Cliente.Nombre}"></td>
        </tr>
        <tr>
          <td><label>NumRuc</label></td>
          <td><input type="text" name="txtNumRuc" size="50" th:value="${Cliente.NumRuc}"></td>
        </tr>
        <tr>
          <td><label>Direccion</label></td>
          <td><input type="text" name="txtDireccion" size="10" th:value="${Cliente.Direccion}"></td>
        </tr>
        <tr>
          <td><a href="buscarCliente">Retornar</a></td>
          <td><input type="submit" value="Guardar"></td>
        </tr>
    </table>    
    </form> 

</body>
</html>