<!DOCTYPE html>
<html lang="es-PE" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Eliminar Producto</title>
</head>
<body>
	<h1>Producto - Eliminar</h1>
    <a href="agregarProducto">Agregar Nuevo Producto</a>
    <hr>
    <form method="post" action="eliminarProducto">
	<table>
        <tr>
         <td><label>CODIGO</label></td>
         <td><input type="text" name="txtId" size="5" th:value="${producto.id}" readonly></td>
        </tr>
        <tr>
          <td><label>DESCRIPCION</label></td>
          <td><input type="text" name="txtDescripcion" size="50" th:value="${producto.descripcion}" disabled></td>
        </tr>
        <tr>
          <td><label>CATEGORIA</label></td>
          <td><input type="text" name="txtCategoria" size="25" th:value="${producto.categoria}" disabled></td>
        </tr>
        <tr>
          <td><label>PRECIO S/.</label></td>
          <td><input type="text" name="txtPrecio" size="10" th:value="${producto.precio}" disabled></td>
        </tr>
        <tr>
          <td><a href="buscarProducto">Retornar</a></td>
          <td><input type="submit" value="Eliminar"></td>
        </tr>
    </table>    
    </form>
</body>
</html>